---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


div.highlighter-rouge, figure.highlight {
background-color: #f6f6f6;
color: #373737;
font-family: Consolas,"Lucida Console",monospace !important;
font-size: .75em;
border-radius: 2px;
}
pre.highlight{
font-family: Consolas,"Lucida Console",monospace !important;
}  
li.masthead__menu-item {
display: none;
}
.page__footer-copyright {
display: none;
}


.page__footer-follow ul {
display: none;
}


.page__share {
display: none;
}

.page__related-title {
display: none;
}

.page__content p, .page__content li, .page__content dl {
font-size: 16px !important;
}

.page__content :not(pre)>code {
padding-top: 0.1rem;
padding-bottom: 0.1rem;
background: #efefef;
border-radius: 2px;
font-size: 1em;
color: #353535;
font-family: Consolas,"Lucida Console",monospace !important;
}

tt, code, kbd, samp, pre {
font-family: Consolas,"Lucida Console",monospace !important;
}

blockquote {
margin: 11px 0px !important;
padding: 15px !important;
font-style: normal !important;
border-left: 0em solid #6f777d !important;
background-color: #f6f6f6 !important;
border-radius: 2px !important;
}

.page__related {
display: none;
}
.page__content+.pagination, .page__meta+.pagination, .comment__date+.pagination, .page__share+.pagination, .page__comments+.pagination {
display: none;
}



.sidebar .author__name {
display: none !important;
}
.greedy-nav a.site-title {
display: none !important;
}

.archive {
    display: none;
}


.masthead {
border-bottom: 0px solid #f2f3f3 !important;
}
.masthead__inner-wrap {
padding: 0em !important;
}

.page__title a {
    font-size: 23px!important;
}
.page__content h2 {
    font-size: 23px!important;
  font-weight: 500;
}
.page__content h3 {
    font-size: 20px!important;
  font-weight: 500;
}
.page__content h4 {
    font-size: 17px!important;
  font-weight: 500;
}
.page__content p, .page__content li, .page__content dl {
    font-size: 15px !important;
    color: #5c5c5c;
}
a {
    color: #5c5c5c !important;
}
a:visited {
    color: #5c5c5c !important;
}

strong {
    background: #efefef;
    color: #3e3e3e;
    line-height: 20px;
    padding: 1px 4px;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    font-weight: 400!important;
}

kbd{
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    color: #3e3e3e;
    font-size: 14px;
    line-height: 18px;
    padding: 1px 4px;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
/*리스트 목록 시작*/
.page__content li {
	margin-left:-18px;
	line-height:26px;
}
.page__content ol {
	list-style:none;
}
.page__content ol>li:before {
	content:counter(list-item);
	width:14px;
	height:14px;
	background-color:#d1d1d1;
	border-radius:50%;
	display:inline-flex;
	font-size:14px;
	justify-content:space-around;
	color:white;
	padding:3px;
	BORDER:#d7d7d7 3px solid;
	margin:0px 11px 0px -24px;
	line-height:3px;
	display:inline-flex;
}
.page__content ul ol>li:before, .page__content ol ol>li:before {
	content:counter(list-item);
	width:9px;
	height:9px;
	background-color:#a9a9a9e;
	border-radius:50%;
	display:inline-flex;
	align-items:center;
	justify-content:space-around;
	color:white;
	font-size:11px;
	padding:5px;
	BORDER:#dfdede 1px solid;
}
.page__content ul li::marker {
	color:#999;
	font-size:13.5px;
}
.page__content ul ul li::marker {
	color:#999;
	font-size:13.5px;
}
.page__content ol ul li::marker {
	color:#a9a9a9;
	font-size:13.5px;
}
.page__content ol ol ul li::marker {
	color:#a9a9a9;
	font-size: 13.5px;
}
