---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


li.masthead__menu-item {
    display: none;
}
.page__footer-copyright {
display: none;
}


.page__footer-follow ul {
display: none;
}


.page__share {
display: none;
}

.page__related-title {
display: none;
}

div.highlighter-rouge, figure.highlight {
background-color: #f6f6f6;
color: #030303;
font-family: Consolas,"Lucida Console",monospace !important;
font-size: .75em;
  border-radius: 2px;
}


.page__content p, .page__content li, .page__content dl {
font-size: 16px !important;
}

.page__content :not(pre)>code {
padding-top: 0.1rem;
padding-bottom: 0.1rem;
background: #efefef;
border-radius: 2px;
font-size: 1em;
  font-family: Consolas,"Lucida Console",monospace !important;
}

tt, code, kbd, samp, pre {
    font-family: Consolas,"Lucida Console",monospace !important;
}

blockquote {
    margin: 11px 0px!important;
    padding: 15px !important;
    font-style: normal !important;
    border-left: 0em solid #6f777d !important;
    background-color: #f6f6f6 !important;
   border-radius: 2px !important;
}
